<!DOCTYPE html>
<html>
<head>
	<title>SEGUE</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<main>
		<section id="viz">
		</section>
		<section id="article">
			<div id="title"></div>
			<div id="description"></div>
		</section>
	</main>

	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/main.js"> </script>

	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type="text/javascript" src="js/visualization.js"> </script>-->
</body>
</html>